body { 
    background-color: rgb(2, 21, 46);;
}

.price-card {
    align-items: start;
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 30px
}

.price-card * {
    text-align: start;
}

.top-content {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.top-content .title {
    width: 40%;
    text-align: start;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-wrapper {
    background-color: rgb(2, 21, 46);
    width: 100vw;
}

@keyframes moveUpDown {
    0%,  100% {
     transform: translateY(0);
     box-shadow: 0px 0px 20px rgba(52, 136, 221, 0.5), 0px 0px 70px rgba(52, 136, 221, 0.5);
   }
    50% {
     transform: translateY(-14px); /* Adjust the value to control the distance */
     box-shadow: 0px 0px 90px rgba(52, 136, 221, 0.5), 0px 0px 200px rgba(52, 136, 221, 0.5);
   }
 }

 .magic-logo {
    animation: moveUpDown  3s ease-in-out infinite; /* Animation properties */
 }

 .topper {
    background-color: rgb(23, 94, 210);
    color: white;
    padding: 15px;
 }

 .feedbacks .text{
    background-color: rgb(70, 70, 70);
    border-radius: 15px;
    padding: 10px;
    width: 200px;
    text-align: start;  
user-select: none; /* Standard */
 }

 .glowing {
  color:  #58c2ef;
  font-style: normal;
 }

 .unselectable {
user-select: none; /* Standard */
 }

 .asd{
    
    box-shadow: 0px 0px 90px rgba(52, 136, 221, 0.5), 0px 0px 200px rgba(52, 136, 221, 0.5);
 }

 
@media (max-width: 600px) {
    .top-content {
        flex-direction: column;
    }

    .feedback-row {
        flex-direction: column;
        height: auto !important;
    }

    .contentsss {
        flex-direction: column;
    }

    .top-content .title {
        width: auto;
    }
}

li {
    text-align: start;
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.links a {
    color: white;
    font-weight: bold;
}

.links a:hover{
    color: rgb(255, 255, 255);
}

.single-link {
    border-radius: 10px;
    padding: 10px;
}

.special-link{
    transition: all 0.2s;
    font-size: 15px;
    background-color: rgb(224, 99, 103);
  }

.special-link:hover{
    
  transform: scale(1.04);
  transition: all 0.2s;
}