#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 10px
}

.drop-shadow{
  border-radius: 50%;
  box-shadow: -300px 0px 400px rgba(52, 136, 221, 0.5), 300px 0px 400px rgba(240, 178, 78, 0.5);
}
.medium-text {
  font-size: 1.2em;
}
.links {
  display: flex;
  justify-content: space-around;
}
.card{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.logo {
  height: 17em;
  padding: 1.5em;
  transition: filter 300ms;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.max-width {
  max-width: 300px;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  margin-top: 90px;
  margin-bottom: 90px;
}

.read-the-docs {
  color: #888;
}

.footer{
  background-color: rgb(85, 145, 213);
  position: absolute;
  width: 100%;
  left: 0;
  height: 60px;
}
.align-start {
 text-align: start;
}

@media (max-width: 600px) {
  .card{
    
  flex-direction: column;
  gap: 5px;
  }

  *{
    text-align: center;
  }
  .align-start {
   text-align: center;

  }

  .max-width {
    max-width: none;
  }

  h2{
    margin-top: 2px !important;
    margin-bottom: 2px !important;
  }
 }
 