#root {
  margin: 0 auto;
  text-align: center;
  
}

.drop-shadow{
  border-radius: 50%;
  box-shadow: -300px 0px 400px rgba(52, 136, 221, 0.5), 300px 0px 400px rgba(240, 178, 78, 0.5);
}
.medium-text {
  font-size: 1.2em;
}
.links {
  display: flex;
  justify-content: space-around;
}
.card{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.logo {
  height: 17em;
  padding: 1.5em;
  transition: filter 300ms;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.max-width {
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  margin-top: 90px;
  margin-bottom: 90px;
}

.read-the-docs {
  color: #888;
}

.footer{
  background-color: rgb(85, 145, 213);
  position: absolute;
  width: 100%;
  left: 0;
  height: 60px;
}
.align-start {
 text-align: start;
}

@media (max-width: 600px) {
  .bigtitle {
    width: 90%;
  }
  .card{
    
  flex-direction: column;
  gap: 5px;
  }

  *{
    text-align: center;
  }
  .align-start {
   text-align: center;

  }

  .max-width {
    max-width: none;
  }

  h3{
    margin-top: 2px !important;
    margin-bottom: 2px !important;
  }
 }
 
 .abs {
  position: fixed;
  left:  0;
  bottom:  0;
  width:  100vw;
  /* Additional styling for the footer */
  background-color: #f8f9fa;
  color: black;
  text-align: center;
  padding:  10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

.none {
  display: none;
}
 
/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,rgb(85, 145, 213) 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,rgb(85, 145, 213));
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
  }
  @keyframes l13{ 
    100%{transform: rotate(1turn)}
  }